DOCKERHUB_USERNAME=sonta28122004
VITE_REACT_APP_BASE_URL="http://34.158.40.253:8888"

EUREKA_HOST=discovery-server
KEYCLOAK_HOST=keycloak
KAFKA_HOST=kafka

CASSANDRA_HOST=cassandra
CASSANDRA_PORT=9042

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=chatapps
POSTGRES_USER=chatapps
POSTGRES_PASSWORD=chatapps

KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8080

USER_SERVICE=user-service
CHAT_SERVICE=chat-service
RELATIONSHIP_SERVICE=relationship-service
MEDIA_SERVICE=media-service
